<div class="home-container">
  <!-- Imagen del logo de WineR -->
  <img src="assets/images/winer4.png" alt="Logo de WineR" class="winer-logo" />

  <!-- Texto de bienvenida -->
  <div class="welcome-text">
    <h1>¡Bienvenido a WineR!</h1>
    <p>Explora el mundo de los vinos con nuestra comunidad. Únete a experiencias exclusivas de catas en bodegas, comparte tus vinos favoritos, descubre las mejores bodegas y conecta con otros amantes del vino. Si eres un apasionado del vino, este es tu portal para descubrir, disfrutar y compartir.</p>
    <p>Elige tu vino preferido, comparte tu experiencia, ¡y que comience la aventura vinícola!</p>
  </div>
</div>
