<!-- Lista de vinos -->
<div class="vinos-list">
    <h1>Lista de Vinos</h1>
    <ul>
      <li *ngFor="let vino of vinos">
        <h3>Nombre: {{ vino.name }}</h3>
        <!-- <p>Descripción: {{ experiencia.description | truncate: 60}}</p> -->
        <p>Precio: {{ vino.price}}</p>
        <p>Color: {{ vino.color}}</p>
        <p>Marca: {{ vino.brand}}</p>
        <p>Grapetype: {{ vino.grapetype}}</p>
        
        
        <!-- Botón para eliminar la experiencia -->
        <!-- <button *ngIf="experiencia._id !== undefined" (click)="deleteExperience(experiencia._id)">Eliminar</button> -->
      </li>
    </ul>
  </div>
